.imgLogo {
    height: 189px;
    width: 400px;
    margin-bottom: 49px;
}

@media (max-width: 900px) {
    .imgLogo {
        height: 129px;
        width: 270px;
        margin-bottom: 21px;
    }
}
